.training {
  &--timer {
    margin: 160px 0;
    color: red;
    font-size: 150px;
    font-weight: 900;
  }
  &--count-squats {
    margin: 160px 0;
    color: blue;
    font-size: 150px;
    font-weight: 900;
  }
}
