<ion-view view-title="Тренировка" hide-back-button="true">
  <ion-content class="padding">
    <div ng-if="vm.isTimer">
      <p class="text-center">
        Секунд до начала тренировки:
      </p>
      <div class="text-center training--timer">
        {{vm.timer}}
      </div>
    </div>
    <div ng-if="!vm.isTimer">
      <p class="text-center">
        Количество сделанных приседаний:
      </p>
      <div class="text-center training--count-squats">
        {{vm.countSquats}}
      </div>
    </div>
    <button
      class="button button-block button-assertive button-large"
      ui-sref="main"
      ng-click="vm.onEndTraining()"
    >
      ЗАВЕРШИТЬ ТРЕНИРОВКУ
    </button>
  </ion-content>
</ion-view>
