<ion-view view-title="Будущий чемпион" hide-back-button="true">
  <ion-content>
    <div class="row">
      <div class="col col-100">
        <button
          class="button button-block button-positive"
          ui-sref="screenInstruction"
        >
          Начать новую тренировку
        </button>
      </div>
    </div>
    <div
      class="list"
      ng-if="vm.showList"
    >
      <div class="item item-divider">
        Результаты предыдущих тренировок
      </div>
      <div class="item" ng-repeat="(date, item) in vm.items">
        Дата: {{date}}
        <br/>
        Количество сделанных приседаний: {{item}}
      </div>
    </div>
  </ion-content>
</ion-view>
