<ion-view view-title="Начать новую тренировку">
  <ion-content class="padding">
    <p class="text-center">
      Нажмите кнопку
    </p>
    <button
      class="button button-block button-balanced button-large"
      ui-sref="screenTraining"
    >
      СТАРТ
    </button>
    <p class="text-center">
      и уберите телефон в передний карман Ваших штанов или шорт, как показано на картике ниже
    </p>
    <img class="instruction-img" ng-src="screen-instruction/assets/images/pocket_phone.png" />
    <p class="text-center">
      через 5 секунд прозвучит характерный сигнал и вибрация, после которых приложение начнет подсчет сделанных Вами приседаний.
    </p>
  </ion-content>
</ion-view>
